[Unit]
Description=Start dryingC-deamon
DefaultDependencies=no

[Service]
Type=forking
ExecStart=/bin/dryingctl

[Install]
WantedBy=multi-user.target
